# See http://help.github.com/ignore-files/ for more about ignoring files.

# Development Utils
sslcert-dev

# compiled output
/dist
/dist-browser

# dependencies
/node_modules
/.npm-cache
npm-debug.log

# misc
.DS_Store
npm-debug.log/node_modules
doc/doc.json
