# See http://help.github.com/ignore-files/ for more about ignoring files.

# Development Utils
sslcert-dev
.env

# compiled output
/dist

# dependencies
/node_modules
/.npm-cache
npm-debug.log

# misc
.DS_Store
npm-debug.log/node_modules
yarn-error.log

# editors
/.vscode/
/.idea/
